/* General Styling for the Register Page */
.Register-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
  }
  
  .Register-avatar {
    font-size: 40px;
    margin-bottom: 10px;
    color: #f50057; /* Icon color (you can change it) */
  }
  
  .Register-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Register-form {
    width: 100%;
  }
  
  .Register-grid {
    display: flex;
    gap: 10px;
  }
  
  .Register-formGroup {
    margin-bottom: 15px;
    text-align: left;
    flex: 1;
  }
  
  .Register-label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .Register-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .Register-errorBorder {
    border-color: red;
  }
  
  .Register-errorText {
    color: red;
    font-size: 12px;
  }
  
  .Register-generalError {
    margin: 10px 0;
  }
  
  .Register-button {
    width: 100%;
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .Register-button:hover {
    background-color: #303f9f;
  }
  
  .Register-links {
    margin-top: 20px;
  }
  
  .Register-link {
    display: block;
    margin-top: 10px;
    color: #3f51b5;
    text-decoration: none;
  }
  
  .Register-link:hover {
    text-decoration: underline;
  }
  